.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}
.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}
.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.tw-followCard-info {
    display: flex;
    flex-direction: column;
}
.tw-followCard-infoUserName {
    opacity: .6;
}

.tw-followCard-button{
    background: #8dcbf1;
    color: #fff;
    padding: 4px 8px;
    border-radius: 999px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin-left: auto;

}
.tw-followCard-button.is-following{
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    width: 120px;

}
.tw-followCard-button:hover{
    background-color: #225675;
    transition: .3s ease background-color;
}
.tw-followCard-button.is-following:hover{
    background: rgba(252, 22, 80, 0.151);
    border: 1px solid rgba(248, 84, 84, 0.322);
}

.tw-followCard-stopFollow{
    display: none;
}
.tw-followCard-text{
    display: block;
}
.tw-followCard-button.is-following:hover .tw-followCard-text{
    display: none;
}
.tw-followCard-button.is-following:hover .tw-followCard-stopFollow{
    display: block;
}